body {
    font-family: Arial, sans-serif;
    background-color: #E1FFFA;
    margin-left: 0px;
    padding: 2px;
}

header {
	padding: 5px;
	background-color: #2EB338;
	max-height: 100px
}

.header {
	display: inline-block;
    margin: 2px;
	padding: 5px;
}

.logo {
	outline: 1px solid #FAFAFA;
}

.block, .block_2 {
	display: inline-block;
    margin: 2px;
	padding: 5px;
}

h2 {
    margin: 2px;
    padding: 5px;
}

p {
    margin: 2px;
    padding: 5px;
}

.title {
    color: #FAFAFA;
}

ul {
    list-style-type: square;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    height: 50px;
    margin-top: 10px;
	background-color: #2EB338
}
	
.block_footer {
	height: 50px;
	display: flex;
	align-items: center;
	margin: 15px;
	display: inline-block;
}
