body {
    font-family: Arial, sans-serif;
    background-color: #E1FFFA;
    margin-left: 0px;
    padding: 2px;
    height: 100%;
    margin: 0;
}

html {
	height: 100%;
    margin: 0;
}

header {
    flex: 0 0 auto;
    left: 0;
    right: 0;
	background-color: #2EB338;
	max-height: 100px;
}

.header {
	display: inline-block;
    margin: 2px;
	padding: 5px;
}

.content {
    display: flex; /* Создаем гибкую структуру */
    flex-direction: column; /* Располагаем элементы вертикально */
    min-height: 100vh;
}

.content-inside {
    width:65%;
    height:100%;
}

menu {
    margin: 0;
    background-color: #FAFAFA;
    width:30%;
    height:617px;
    float: right;
}

.tracker {
    background-color: #2EB338;
    max-height: 50px;
}

.logo {
	outline: 2px solid #FAFAFA;
}

.block {
	display: inline-block;
    margin: 2px;
	padding: 5px;
    width: 450px;
    height: 100%;
}

.tasks {
    display: inline-block;
    margin: 2px;
	padding: 5px;
    width: 45%;
    height:283px;
}

h3 {
    margin: 2px;
    padding: 5px;

}

p {
    margin: 2px;
    padding: 5px;
}

.title {
    color: #FAFAFA;
}

ul {
    list-style-type: square;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    /*flex: 0 0 auto;
    position: absolute;*/
    left: 0;
    right: 0;
    height: 50px;
    margin-top: 10px;
	background-color: #2EB338
}
	
.block_footer {
	height: 50px;
	display: flex;
	align-items: center;
	margin: 15px;
	display: inline-block;
}
